#header{
    background-color: black;
    color:white;
    text-align: center;
    padding:25px;
}

#left_nav{
    line-height: 30px;
    background-color: #eeefff;
   height:100%;
    width:10%;
    float:left;
    padding:5px;
    
}

#section{
    width:78%;
    float:left;
    padding:7px
    
}

#sub_nav{
background-color: #fffeee;
    height:15%;
    text-align: center;
}

#right_nav{
    width:10%;
    background-color: #eeefff;
    height:100%;
    float:right;
}
